<ion-header>
  <ion-toolbar>
    <ion-title>New Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #contactForm="ngForm" (ngSubmit)="addContact()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" name="userName" ngModel required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="userEmail" ngModel required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Phone</ion-label>
      <ion-textarea type="number" name="userPhoneNum" ngModel required></ion-textarea>
    </ion-item>

    <ion-button class="button-cancel" expand="full" href="/tabs/tab1" color="danger">Cancel</ion-button>
    <ion-button class="button-submit" expand="full" color="success" type="submit">Add</ion-button>
  </form>
</ion-content>
